<h1>Sign Up</h1>

<%= form_for @user do |f|%>  

<%= f.label :username%><br>  
<%= f.text_field :p_username%><br>  

<%= f.label :password%><br>  
<%= f.password_field :p_password%><br>  

<%= f.submit %>

<%end%>